# TF-IDF
## For Feature Selection and Classification

In [94]:
#Important imports for easy TF-IDF.
import numpy as np
import math

#For importing data*
from datascience import *

#For plotting progress
import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

# *The data science library was used as a simple and lightweight package from the UC Berkeley course Data 8
# Check out http://data8.org/ for more information!

In [37]:
movies = Table().read_table("movies.csv") # Movies are already preprocessed
action = movies.where("Genre", "action")
romance = movies.where("Genre", "romance")
movies.select("Title", "Genre", "hi").show(1)
action.select("Title", "Genre", "hi").show(1)
romance.select("Title", "Genre", "hi").show(1)

In [38]:
discard = ["Title", "Genre", "Year", "Rating", "# Votes", "# Words"]

term_frequencies = movies.drop(discard)
inverse_document_frequency = []
num_words = term_frequencies.num_columns
for l in term_frequencies.labels:
    inverse_document_frequency.append(np.log((np.count_nonzero(term_frequencies.column(l) != 0))) / num_words)

c:\users\ervin baccay\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

In [39]:
idf_table = Table().with_column("Words", term_frequencies.labels).with_column("IDF", inverse_document_frequency)
idf_table.sort("IDF", descending=True)

Words | IDF
that  | 0.00109779
a     | 0.00109779
to    | 0.00109779
the   | 0.00109779
i     | 0.00109779
no    | 0.00109696
im    | 0.00109696
thi   | 0.00109696
do    | 0.00109696
is    | 0.00109696
... (4990 rows omitted)

In [47]:
tf_idf_table = Table()
labels = term_frequencies.labels

for l in range(len(inverse_document_frequency)):
    curr_col = term_frequencies.column(l) * inverse_document_frequency[l]
    tf_idf_table = tf_idf_table.with_column(labels[l], curr_col)

for d in reversed(discard):
    tf_idf_table = tf_idf_table.with_column(d, movies.column(d)).move_to_start(d)
    
tf_idf_table.to_csv("movies_tf_idf.csv")
tf_idf_table.select("Title", "Genre", "hi").show(1)

c:\users\ervin baccay\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in multiply
  """

In [50]:
training_movies = ['the terminator', 'batman', 'tomorrow never dies', 'batman forever',
       'supergirl', 'the avengers', 'natural born killers',
       'airplane ii: the sequel', 'willow', 'fast times at ridgemont high',
       'shakespeare in love', 'superman', 'the crow: salvation',
       'die hard', 'from dusk till dawn', 'highlander iii: the sorcerer',
       'austin powers: international man of mystery', 'catwoman',
       'never been kissed', 'dark angel',
       'the adventures of buckaroo banzai across the 8th dimension',
       'natural born killers', 'arctic blue', 'the beach', 'true lies',
       'hellboy', 'only you', 'man on fire', 'titanic', 'hudson hawk',
       'the abyss', 'buffy the vampire slayer', 'braveheart',
       'mighty morphin power rangers', 'demolition man', 'runaway bride',
       'metro', 'seven', 'bull durham', 'conspiracy theory', 'hackers',
       'wild at heart', 'ronin', 'being john malkovich',
       'crouching tiger hidden dragon', 'mystery men', 'bloodmoon',
       'tombstone', 'star trek v: the final frontier', 'the fifth element',
       'ninotchka', 'jurassic park', 'trouble in paradise', 'tron',
       'gone in sixty seconds', 'cellular', 'smokey and the bandit',
       'alien vs. predator', 'barry lyndon', 'little nicky',
       'the princess bride', 'who framed roger rabbit',
       'the bridges of madison county', 'reindeer games',
       "my best friend's wedding", 'lone star',
       'the lost world: jurassic park', 'quills', 'the getaway',
       'three kings', 'wild wild west', 'what women want', 'feast',
       'backdraft', 'charade', 'rocky', 'chill factor', 'jerry maguire',
       'total recall', 'true romance', 'highlander', 'mrs brown',
       'broadcast news', 'jurassic park iii', 'vertigo',
       'enemy of the state', 'my girl', 'batman and robin',
       'basic instinct', 'roughshod', 'soldier', 'the thin man',
       'point break', 'the lost son', 'tombstone',
       'terminator 2: judgment day', 'asylum', 'quantum project',
       'manhunt', 'romeo and juliet', 'last of the mohicans',
       'the family man', '15 minutes', 'gattaca', 'grand hotel', 'domino',
       'sideways', 'rush hour 2', 'birthday girl',
       'transatlantic merry-go-round', 'the world is not enough',
       'miami vice', 'the jazz singer', 'harold and maude',
       'snow falling on cedars', 'star trek vi: the undiscovered country',
       'innerspace', 'aliens', 'the rock', 'star trek: the wrath of khan',
       'mission: impossible', 'it happened one night',
       'as good as it gets', 'ticker', 'deep rising', 'the matrix',
       'eternal sunshine of the spotless mind', 'intolerable cruelty',
       'lake placid', 'entrapment', 'bachelor party', 'gladiator',
       'pretty woman', 'the crow', 'the wedding date',
       'star trek iii: the search for spock', 'out of sight',
       'the time machine', 'moonstruck', 'punch-drunk love', 'xxx',
       "it's a wonderful life", 'stranglehold', 'house of the damned',
       'the horse whisperer', 'godzilla', 'star trek: first contact',
       'the boondock saints', 'silverado', 'get carter',
       'an american werewolf in london', 'ghostbusters ii',
       'life as a house', 'an american werewolf in paris', 'strange days',
       'nurse betty', 'planet of the apes', 'pearl harbor',
       'the fabulous baker boys', 'galaxy quest', 'on the waterfront',
       'saving private ryan', 'air force one', 'rebel without a cause',
       'mission: impossible ii', 'casablanca', 'a walk to remember',
       'pearl harbor', 'the french connection', 'predator', 'the graduate',
       'the patriot', 'minority report', "there's something about mary",
       'zulu dawn', 'le grand bleu', 'nuovo cinema paradiso',
       'the man in the iron mask', 'hannah and her sisters',
       'grosse pointe blank', 'the hustler', 'black rain',
       'indiana jones and the temple of doom', 'willow',
       'even cowgirls get the blues', 'the english patient',
       'someone to watch over me',
       'star wars: episode vi - return of the jedi', 'shampoo',
       'rush hour', 'pet sematary ii', 'monkeybone', 'virtuosity',
       'smokey and the bandit', 'starman', 'his girl friday',
       'say anything...', 'fantastic four', 'spider-man',
       'star wars: the empire strikes back', 'star trek: generations',
       'tremors', 'nothing but a man', 'meet john doe', 'the fisher king']
training_set = tf_idf_table.where("Title", lambda x: x in training_movies)
testing_set = tf_idf_table.where("Title", lambda x: x not in training_movies)

In [80]:
disregarded_lables = ["Title", "Genre", "Rating", "# Votes", "# Words", "Year"]

action_movies = training_set.where("Genre", "action").drop(disregarded_lables)
romance_movies = training_set.where("Genre", "romance").drop(disregarded_lables)
all_movies = training_set.drop(disregarded_lables + ["Genre"])

def average_all_rows(tbl):
    new_tbl = Table().with_columns("Word", []).with_column("Average TF-IDF", [])
    for l in tbl.labels:
        new_tbl = new_tbl.with_row([l, np.average(tbl.column(l))])
    return new_tbl

action_words = average_all_rows(action_movies)
romance_words = average_all_rows(romance_movies)
movie_words = average_all_rows(all_movies)

In [81]:
nan_words = movie_words.where("Average TF-IDF", lambda x: np.isnan(x)).column("Word")

action_words = action_words.where("Word", lambda x: x not in nan_words)
romance_words = romance_words.where("Word", lambda x: x not in nan_words)
movie_words = movie_words.where("Word", lambda x: x not in nan_words)

In [91]:
abs_resid = action_words.column("Average TF-IDF") - romance_words.column("Average TF-IDF")
both = action_words.drop("Frequency").with_column("Absolute Residual", abs_resid).sort("Absolute Residual", descending=True)

both.show(20)
movie_words.sort("Average TF-IDF", descending=True).show(20)

In [93]:
words_of_interest = both.take(range(25)).column("Word")
words_of_interest

array(['the', 'we', 'of', 'is', 'us', 'thi', 'them', 'on', 'they', 'our',
       'out', 'sir', 'were', 'there', 'get', 'got', 'power', 'are', 'one',
       'in', 'he', 'from', 'need', 'as', 'theyr'], dtype='<U13')

In [105]:
highest_accuracy_features = both.take(range(2)).column("Word")
highest_accuracy_k = 21

hf_train = training_set.select(highest_accuracy_features)
hf_test = testing_set.select(highest_accuracy_features)

def another_classifier(row, k=highest_accuracy_k, trainer=hf_train):
    def classify_helper(test_row, train_rows, train_classes, k):
        distances = fast_distances(test_row, train_rows)
        genre_and_distances = Table().with_column("d", distances).with_column("g", train_classes).sort("d")
        return most_common("g", genre_and_distances.take(range(k)))
    return classify_helper(row, trainer, training_set.column("Genre"), k)
    
def accuracy(features=highest_accuracy_features, trainers=hf_train, classifier=another_classifier, k=highest_accuracy_k):
    train_words = training_set.select(features)
    test_words = testing_set.select(features)
    
    test_guesses = []
    for i in range(test_words.num_rows):
        test_guesses.append(classifier(test_words.row(i), k, train_words))
    test_guesses = np.array(test_guesses)
    proportion_correct = np.count_nonzero(testing_set.column("Genre") == test_guesses) / len(test_guesses)
    return proportion_correct

def fast_distances(test_row, train_rows):
    counts_matrix = np.asmatrix(train_rows.columns).transpose()
    diff = np.tile(np.array(test_row), [counts_matrix.shape[0], 1]) - counts_matrix
    np.random.seed(0) # For tie breaking purposes
    distances = np.squeeze(np.asarray(np.sqrt(np.square(diff).sum(1))))
    eps = np.random.uniform(size=distances.shape)*1e-10 # Noise for tie break
    distances = distances + eps
    return distances

def most_common(label, table):
    lables = table.group(label).sort("count", descending=True)
    return lables.item(0)[0][0]

In [106]:
accuracy()

0.8611111111111112